@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-body-section {
        @apply bg-zinc-50 rounded-lg drop-shadow-lg shadow-gray-400 p-6;
    }

    .nav-link {
        @apply p-2 inline-block text-lg text-indigo-600 ease-out duration-200 hover:text-black hover:transition-colors;
    }
}
