[tool.isort]
profile = 'black'
line_length = 100
skip_gitignore = true

[tool.black]
line-length = 100
target-version = ['py310']
skip-string-normalization = true
include = '''
(
    \.pyi?$
)
'''

[tool.basedpyright]
typeCheckingMode = 'standard'
pythonVersion = '3.10'
reportIncompatibleVariableOverride = false
