{% load static %}

<!doctype html>
<html lang="en" class="min-h-screen">
  <head>
    <title>My Movies</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'movies/css/output.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  </head>

  <body
    class="h-full min-h-full bg-gray-200"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    <div class="flex flex-col min-h-full max-w-4xl mx-auto gap-4">
      <div class="bg-zinc-50 rounded-b-lg drop-shadow-lg shadow-gray-400">
        {% include "movies/header.html" %}
      </div>
      {% if messages %}
        <div class="bg-zinc-50 rounded-lg drop-shadow-lg shadow-gray-400">
          {% include "movies/alerts.html" %}
        </div>
      {% endif %}
      <div class="flex-1">
        {% block content %}
          {% comment %}
            Main content for the page goes here
          {% endcomment %}
        {% endblock content %}
      </div>
    </div>
    <footer class="m-5">
      <p class="text-sm italic text-center text-gray-500">
        Proyecto de ejemplo de la materia Programación Web.
        <a class="text-link" href="https://github.com/ValdezFOmar/MyMovies" target="_blank">GitHub Repository</a>
      </p>
    </footer>
  </body>
</html>
