{% extends "movies/base.html" %}

{% block content %}

{% if user.is_authenticated %}
<aside class="page-body-section mb-4">
  <section>
    {% include "movies/recommendations.html" %}
  </section>
</aside>
{% endif %}

<main class="page-body-section">
  <section>

    <h2 class="text-3xl text-center font-semibold mb-6">Movie Catalogue</h2>

    {% if movies %}
    <ol class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-6 gap-y-4">
      {% for movie, score, has_reviews in movies_with_score %}
      <li>
        {% include "movies/movie_card.html" %}
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p class="text-lg">No movies are available...</p>
    {% endif %}

  </section>
</main>
{% endblock content %}
