{% extends "movies/base.html" %}
{% load humanize %}
{% load movie_filters %}

{% block content %}
<main>
  <article class="page-body-section mb-4">
    <header class="mb-6 flex gap-4 flex-col-reverse items-center sm:flex-row sm:items-start">
      <div class="w-fit px-2 py-1 font-bold text-xl text-zinc-50
        rounded-md drop-shadow-md shadow-gray-300
        {% if not reviews  %}
          bg-gray-500
        {% elif score >= 70 %}
          bg-green-500
        {% elif score >= 40 %}
          bg-yellow-500
        {% else %}
          bg-red-500
        {% endif %}
        ">
        {% if reviews %}
        {{ score|floatformat }}<span class="text-base">/100</span>
        {% else %}
        N/A
        {% endif %}
      </div>
      <h2 class="text-2xl md:text-3xl font-semibold">
        {{ movie.title }}
        &lpar;<time datetime="{{ movie.release_date|date:'Y-m-d' }}">{{ movie.release_date|date:"Y" }}</time>&rpar;
      </h2>
    </header>

    <section class="flex flex-col sm:flex-row gap-4">
      <div>
        <img class="min-h-full max-w-52 mx-auto sm:mx-0 rounded-sm object-cover shadow shadow-gray-400"
          src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}"
          alt="Poster for {{ movie.title|title }}" />
      </div>
      <div>
        <h3 class="text-2xl mb-2">Overview</h3>
        <p class="mb-4 text-sm text-gray-500">
          Duration: <time datetime="{{ movie.running_time }}m">{{ movie.running_time|movie_duration }}</time>
        </p>

        <p class="mb-2 text-justify">{{ movie.overview }}</p>

        <details open class="my-4">
          <summary class="text-xl mb-2">Production Details</summary>
          <ul class="list-outside pl-8">
            <li class="list-item list-disc">Budget: ${{ movie.budget|intword }}</li>
            <li class="list-item list-disc">Revenue: ${{ movie.revenue|intword }}</li>
          </ul>
        </details>
      </div>
    </section>

    <aside class="mt-4">
      <h3 class="mb-2 text-lg font-semibold text-center">Actors</h3>
      <ul class="flex flex-wrap justify-center gap-4 md:gap-2 px-0 sm:px-4 md:px-8">
        {% for actor in actors %}
        <li class="min-w-fit px-2">
          <a href="{% url 'actor-detail' actor.id %}"
            class="text-indigo-600 ease-out duration-200 hover:text-black hover:transition-colors">
            {{ actor.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </article>

  <div class="page-body-section mb-4">
    <section>
      <h3 class="text-2xl mb-4">Reviews</h3>

      <button hx-get="{% url 'movie-review-form' movie.id %}" hx-trigger="click" hx-target="this" hx-swap="outerHTML"
        type="button" class="text-md font-semibold mx-auto py-2 px-4 text-zinc-50
        bg-indigo-500 ease-out duration-200 hover:bg-indigo-700 rounded-md">
        Leave a review
      </button>

      <div id="review-list" class="mt-4">
        {% include "movies/movie_reviews.html" with reviews=reviews %}
      </div>
    </section>
  </div>

  {% if user.is_authenticated %}
  <aside class="page-body-section">
    <section>
      {% include "movies/recommendations.html" %}
    </section>
  </aside>
  {% endif %}
</main>
{% endblock content %}
