{% extends "movies/base.html" %}

{% block content %}
<main class="page-body-section mb-4">
  <hgroup class="text-center mb-10">
    <h1 class="text-3xl sm:text-4xl mb-2">{{ page_user.first_name }} {{ page_user.last_name }}</h1>
    <p class="text-lg sm:text-xl text-gray-600">@{{ page_user.username }}</p>
  </hgroup>
  <section>
    <h2 class="text-2xl mb-5 font-bold">
      {% if page_user.id == user.id %}
      Your reviews
      {% else %}
      {{ page_user.first_name }}&apos;s reviews
      {% endif %}
    </h2>
    {% if reviews %}
    <ol>
      {% for review in reviews %}
      <li class="pl-6 py-2 border-t border-t-gray-200">
        {% include "movies/review.html" with review=review show_movie_title=True %}
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p>You haven&apos;t made any review yet...</p>
    {% endif %}
  </section>
</main>

{% if user.is_authenticated %}
<aside class="page-body-section mb-4">
  <section>
    {% include "movies/recommendations.html" %}
  </section>
</aside>
{% endif %}

{% endblock content %}
